<header>
  <nav class="dropdownmenu">
    <div (click)="navigate('')" class="logo">
      <img src="../../../assets/img/logo.png" alt="Logo" />
      <span>PERSONAL AHORRO</span>
    </div>
    <div>
      <ul>
        <ng-container *ngFor="let data of dataMenu; let i = index">
          <li [ngClass]="data.classParam">
            <a (click)="navigate(data.primary.key)">{{ data.primary.value }}</a>
            <ul id="submenu" *ngIf="data.arraySecondary != null">
              <ng-container
                *ngFor="let dataSecondary of data.arraySecondary; let i = index"
              >
                <li [ngClass]="dataSecondary.classParam">
                  <a (click)="navigate(dataSecondary.primary.key)">{{
                    dataSecondary.primary.value
                  }}</a>
                </li>
              </ng-container>
            </ul>
          </li>
        </ng-container>
      </ul>
    </div>
  </nav>
</header>
