.form-container {

  margin: 20px;
  border: 1px solid #1f409b65;
  padding: 10px;
  font: 12px/20px sans-serif;
}

h2 {
  margin: 4px;
  font-size: 20px;
  margin-bottom: 10px;
}

.sliderDiv h3 {
  margin: 0 7px -15px;
}

.sliderDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.sliderDiv p {
  flex: 0 0 auto;
  margin: 0 5px;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  color: #1F419B;
  font-weight: bold;
}

.sliderDiv .mat-slider {
  flex: 1;
  margin: 0 10px;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 1.25em;
}

.sliderMin-custom ::ng-deep .mat-slider-thumb {
  background-color: #FFCE00;
}

.sliderMin-custom ::ng-deep .mat-slider-thumb-label {
  background-color: #FFCE00;
}

.sliderMin-custom ::ng-deep .mat-slider-track-background {
  background-color: #1F419B;
}

.sliderMin-custom ::ng-deep .mat-slider-ticks {
  background-color: #1f409b65;
}

.sliderMin-custom ::ng-deep .mat-slider-track-fill {
  background-color: #FFCE00;
}

/*sliderMax-custom*/

.sliderMax-custom ::ng-deep .mat-slider-thumb {
  background-color: #FFCE00;
}

.sliderMax-custom ::ng-deep .mat-slider-thumb-label {
  background-color: #FFCE00;
}

.sliderMax-custom ::ng-deep .mat-slider-track-background {
  background-color: #FFCE00;
}

.sliderMax-custom ::ng-deep .mat-slider-ticks {
  background-color: #1f409b65;
}

.sliderMax-custom ::ng-deep .mat-slider-track-fill {
  background-color: #1F419B;
}

.param-form {
  font-size: 15px;
  margin-top: 5.5px;
  /* background-color: #0000002c; */
  /**************************************************************************************************/

}

/**************************************************************************************************/
/**************************************************************************************************/

.container {
  display: flex;
  height: 90px;
  margin-bottom: 15px;
}

.item {
  flex: 1;
  margin-right: 15px;
  /* background-color: #ccc; */
  /**************************************************************************************************/
  display: flex;
  flex-direction: column;
}

.top-section {
  height: 30%;
  border: 1px solid #1f409b65;
}

.top-section h3 {
  height: 100%;
  margin: 0 7px;
}


.bottom-section {
  margin-top: 15px;
  padding: 5px;
  height: 70%;
}

.bottom-section select {
  width: 100%;
}

.sub-container {
  display: flex;
  margin-top: 5px;
}

.sub-item {
  flex: 1;
  margin-right: 20px;
  margin-top: -13px;
  /* background-color: #eee; */
  /**************************************************************************************************/
}