<div class="form-container">
  <h2>Acumulacion de operaciones</h2>
  <div class="container">
    <div class="item">
      <div class="comboDiv">
        <h3>Entidad: {{ sliderMin.value }}</h3>
        <select [(ngModel)]="entidadSeleccionada">
          <option *ngFor="let opcion of opcionesEntidades" [value]="opcion">
            {{ opcion }}
          </option>
        </select>
      </div>
    </div>

    <div class="item">
      <div class="container-calendar">
        <div class="item-calendar">
          <mat-form-field class="param-form">
            <input
              matInput
              [matDatepicker]="startDatePicker"
              placeholder="Fecha de inicio"
              [(ngModel)]="startDate"
            />
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"
              ><mat-icon>calendar_today</mat-icon></mat-datepicker-toggle
            >
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="item-calendar">
          <mat-form-field class="param-form">
            <input
              matInput
              [matDatepicker]="endDatePicker"
              placeholder="Fecha de fin"
              [(ngModel)]="endDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="endDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="sliderDiv">
        <h3>Importe mínimo: {{ sliderMin.value }} €</h3>
        <mat-slider
          class="sliderMin-custom"
          [disabled]="sliderMin.disabled"
          [invert]="sliderMin.invert"
          [max]="sliderMin.max"
          [min]="sliderMin.min"
          [step]="sliderMin.step"
          [thumbLabel]="sliderMin.thumbLabel"
          [tickInterval]="getSliderTickInterval()"
          [(ngModel)]="sliderMin.value"
          [vertical]="sliderMin.vertical"
          (change)="clickSliderMin($event)"
        >
        </mat-slider>
      </div>
    </div>

    <div class="item">
      <div class="sliderDiv">
        <h3>Importe maximo: {{ sliderMax.value }} €</h3>
        <mat-slider
          class="sliderMax-custom"
          [disabled]="sliderMax.disabled"
          [invert]="sliderMax.invert"
          [max]="sliderMax.max"
          [min]="sliderMax.min"
          [step]="sliderMax.step"
          [thumbLabel]="sliderMax.thumbLabel"
          [tickInterval]="getSliderTickInterval()"
          [(ngModel)]="sliderMax.value"
          [vertical]="sliderMax.vertical"
          (change)="clickSliderMax($event)"
        >
        </mat-slider>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
</div>
