.form-container {
  /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2; */

  margin: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  font: 12px/20px sans-serif;
}

.form-container h2 {
  margin: 4px;
  font-size: 20px;
  margin-bottom: 10px;
}

.sliderDiv {
  width: 100%;
}

.sliderDiv h3 {
  margin: 0 7px -15px;
}

.sliderDiv .mat-slider {
  width: 100%;
}

.comboDiv {
  display: block;
  width: 100%;
}

.comboDiv h3 {
  margin-left: 10px;
  /* margin: 0 7px -15px; */
}

.comboDiv select {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}


.sliderMin-custom ::ng-deep .mat-slider-thumb {
  background-color: #FFCE00;
}

.sliderMin-custom ::ng-deep .mat-slider-thumb-label {
  background-color: #FFCE00;
}

.sliderMin-custom ::ng-deep .mat-slider-track-background {
  background-color: #1F419B;
}

.sliderMin-custom ::ng-deep .mat-slider-ticks {
  background-color: #1f409b65;
}

.sliderMin-custom ::ng-deep .mat-slider-track-fill {
  background-color: #FFCE00;
}

/*sliderMax-custom*/

.sliderMax-custom ::ng-deep .mat-slider-thumb {
  background-color: #FFCE00;
}

.sliderMax-custom ::ng-deep .mat-slider-thumb-label {
  background-color: #FFCE00;
}

.sliderMax-custom ::ng-deep .mat-slider-track-background {
  background-color: #FFCE00;
}

.sliderMax-custom ::ng-deep .mat-slider-ticks {
  background-color: #1f409b65;
}

.sliderMax-custom ::ng-deep .mat-slider-track-fill {
  background-color: #1F419B;
}

.param-form {
  font-size: 15px;
  background-color: #0000002c;

}

.container {
  display: flex;
  justify-content: space-between;
}

.container-calendar {
  width: 100%;
  display: inline-flex;
  /* justify-content: space-between; */
}

.item {

  display: grid;
  place-items: center;

  width: calc(25% - 20px);
  margin-right: 20px;
  margin-bottom: 10px;
  height: 60px;

  /* background-color: #bb2f2f5b; .........................................*/
}

.item-calendar {

  display: block;
  width: 36%;
  align-content: center;
  justify-content: center;
  /* width: calc(50% - 20px); */
  /* background-color: #bfc7e02c; .........................................*/
}

.item:last-child {
  margin-right: 0;
  /* Quita el margen derecho del último elemento */
}

select {
  width: 100%;
}