.form-container {
  /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2; */

  margin: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  font: 12px/20px sans-serif;
}

.form-container h2 {
  margin: 4px;
  font-size: 20px;
  margin-bottom: 10px;
}

.sliderDiv {
  width: 100%;
}

.sliderDiv h3 {
  margin: 0 7px -15px;
}

.sliderDiv .mat-slider {
  width: 100%;
}

.sliderMin-custom ::ng-deep .mat-slider-thumb {
  background-color: #FFCE00;
}

.sliderMin-custom ::ng-deep .mat-slider-thumb-label {
  background-color: #FFCE00;
}

.sliderMin-custom ::ng-deep .mat-slider-track-background {
  background-color: #1F419B;
}

.sliderMin-custom ::ng-deep .mat-slider-ticks {
  background-color: #1f409b65;
}

.sliderMin-custom ::ng-deep .mat-slider-track-fill {
  background-color: #FFCE00;
}

/*sliderMax-custom*/

.sliderMax-custom ::ng-deep .mat-slider-thumb {
  background-color: #FFCE00;
}

.sliderMax-custom ::ng-deep .mat-slider-thumb-label {
  background-color: #FFCE00;
}

.sliderMax-custom ::ng-deep .mat-slider-track-background {
  background-color: #FFCE00;
}

.sliderMax-custom ::ng-deep .mat-slider-ticks {
  background-color: #1f409b65;
}

.sliderMax-custom ::ng-deep .mat-slider-track-fill {
  background-color: #1F419B;
}

.param-form {
  font-size: 15px;
  /* background-color: #0000002c; *//**************************************************************************************************/

}

/**************************************************************************************************/
/**************************************************************************************************/

.container {
  display: flex;
}

.item {
  flex: 1;
  margin-right: 15px;
  /* background-color: #ccc; *//**************************************************************************************************/
  display: flex;
  flex-direction: column;
}

.top-section {
  height: 30%;
}

.top-section h3{
  height: 100%;
  margin: 0 7px;
}


.bottom-section {
  padding: 5px;
  height: 70%;
}

.bottom-section select{
  width: 100%;
}

.sub-container {
  display: flex;
  margin-top: 5px;
}

.sub-item {
  flex: 1;
  margin-right: 5px;
  /* background-color: #eee; *//**************************************************************************************************/
}